/*-----------------------------------------------
/* Plugin: WP Shortcode
/* Author: MyThemeShop
/* Version: 1.4
/*---------------------------------------------*/
/*-[ Notifications ]---------------------------*/
.message_box {
    margin: 15px 0;
    padding: 1em 1em;
}
.message_box p { margin-bottom: 0 }
pre {
    overflow: auto;
    padding: 15px;
    margin: 15px 0;
    position: relative;
    background: #777;
    font-family: monospace;
    color: #FFF;
    box-sizing: border-box;
}
.note {
    background: #FAF3D4;
    color: #A6A377;
}
.announce {
    background: #d0e6f0;
    color: #7190a2;
}
.success {
    border: 1px solid #DEF1BF;
    background: #D8EBCE;
    color: #748F5D;
}
.warning {
    border: 1px solid #FFDBDB;
    background: #FDE2E2;
    color: #AC888A;
}
/*-[ Buttons ]---------------------------------*/
.buttons {
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 15px 15px 0;
    padding: 12px 10px;
    overflow: hidden;
    display: inline-block;
    width: auto;
}
.buttons span {
    float: none;
    overflow: hidden;
}
a.buttons {
    color: #fff!important;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: bold;
}
a.buttons.left {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}
a.buttons.right {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 0;
    float: right;
}
div.button-center {
    width: 100%;
    text-align: center;
}
a.buttons.center {
    clear: both;
    display: inline-block;
    float: none;
    width: auto;
}
a.btn_white { color: #4F4F4F!important }
.btn_brown {
    background-color: #C5703F;
    color: white;
}
.btn_brown:hover {
    background-color: #D1B593;
    color: white!important;
}
.btn_blue {
    background-color: #A5B8DA;
    color: white;
}
.btn_blue:hover {
    background-color: #9badcc;
    color: white!important;
}
.btn_green {
    background-color: #6CB24C;
    color: white;
}
.btn_green:hover {
    background-color: #5F9D43;
    color: white!important;
}
.btn_yellow {
    background-color: #FFDA6B;
    color: #fff;
}
.btn_yellow:hover {
    background-color: #FFD351;
    color: #fff!important;
}
.btn_red {
    background-color: #E83030;
    color: white;
}
.btn_red:hover {
    background-color: #E63131;
    color: white!important;
}
.btn_white {
    background-color: #F7F7F7;
    color: #4F4F4F;
}
.btn_white:hover {
    background-color: #F4F4F4;
    color: #4F4F4F!important;
}
.btn_white:active {
    border: 1px solid #C1C1C1;
    box-shadow: inset 0 0 8px 2px #C1C1C1;
}
/*-[ Video Shortcode ]-------------------------*/
.textwidget .youtube-video, .textwidget .vimeo-video, .textwidget .googlemaps { margin: 0 }
.youtube-video, .vimeo-video {
    margin: 10px 0 10px 0;
    width: 100%;
}
/*-[ Google Maps ]-----------------------------*/
.googlemaps { margin: 5px 15px 10px 0 }
/*-[ Columns ]---------------------------------*/
.one_half { width: 48% }
.one_third { width: 30.66% }
.two_third { width: 65.33% }
.one_fourth { width: 22% }
.three_fourth { width: 74% }
.one_fifth { width: 16.8% }
.two_fifth { width: 37.6% }
.three_fifth { width: 58.4% }
.four_fifth { width: 67.2% }
.one_sixth { width: 13.33% }
.five_sixth { width: 82.67% }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    position: relative;
    margin-right: 4%;
    margin-bottom: 15px;
    float: left;
}
.column-last {
    margin-right: 0!important;
    clear: right;
}
/*-[ Tabs ]------------------------------------*/
.tab_widget {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.tab_widget ul.wps_tabs {
    display: block;
    position: relative;
    list-style: none;
    height: 40px;
    border-bottom: 1px solid #DDD;
    margin: 0;
    padding: 0;
}
.tab_widget ul.wps_tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 39px;
    line-height: 39px;
    border: 1px solid #DDD;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(230,230,230)), color-stop(0.55, rgb(238,238,238)) );
}
.tab_widget ul.wps_tabs li:first-child { border-left: 1px solid #DDD }
.tab_widget ul.wps_tabs li a {
    text-decoration: none;
    color: #888!important;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    outline: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
    border: none;
    border-left: 1px solid #F9F9F9;
}
.tab_widget ul.wps_tabs li:first-child a { border-left: none }
.tab_widget ul.wps_tabs li a:hover { background: none }
.tab_widget ul.wps_tabs li.active, .tab_widget ul.wps_tabs li.active a:hover {
    background: #FFF;
    border-bottom: 1px solid #FFF;
}
.tab_widget ul.wps_tabs li.active { border-top: 1px solid #DDD }
.tab_widget ul.wps_tabs li.active a { color: #777 }
.tab_widget .tab_container {
    display: block;
    border-top: none;
    overflow: hidden;
    position: relative;
    clear: both;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
}
.tab_widget .tab_content {
    display: block;
    position: relative;
    padding: 15px;
}
/*-[ Toggle ]-----------------------*/
.toggle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.toggle .wps_togglet, .toggle .toggleta {
    display: block;
    position: relative;
    height: 36px;
    padding: 0 12px;
    background: #EEE;
    border: 1px solid #DDD;
    cursor: pointer;
    margin: 0;
}
.toggle .wps_togglet span, .toggle .toggleta span {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    padding-left: 20px;
    background: url("../images/toggle-down.png") no-repeat left;
}
.toggle .toggleta span { background: url("../images/toggle-up.png") no-repeat left }
.toggle .togglec {
    display: block;
    position: relative;
    padding: 15px;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
}
/*-[ Dividers ]--------------------------------*/
.divider {
    clear: both;
    display: block;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}
.top-of-page {
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}